<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css">

<head>
    <meta charset="UTF-8">
    <title>ArgScore</title>
</head>

<body>
    <h1>ArgScore</h1>
    <p>Simply put in an argument, and AI will rank how effective it is from 0 to 1 and provide feedback.</p>

    <center>
    <form method="POST">
        <input name="text">
        <input type="submit">
    </form>
    </center>

    <p>{{ input }}</p>

    <h2>{{ score }}</h2>

    <p>{{ advice }}</p>

</body>
</html>
